.aside {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #75b01d;
  border-right: 1px solid var(--heading-color);
  padding: 40px;
  width: 6vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.nav_list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.nav_icon1 {
  color: rgb(35, 35, 35);
}
.nav_icon2 {
  color: rgb(35, 35, 35);
}
.nav_icon3 {
  color: rgb(35, 35, 35);
}

.nav_icon4 {
  color: rgb(35, 35, 35);
}

.nav_icon5 {
  color: rgb(35, 35, 35);
}

.nav_icon:hover {
  color: var(--text-color);
  transform: scale(1.3);
}

@keyframes animates {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
